.DS_Store

/node_modules

/eslint.config.d.ts
/eslint.config.js

/prettier.config.d.ts
/prettier.config.js

/stylelint.config.d.ts
/stylelint.config.js

/biome.config.d.ts
/biome.config.js
/biome.config.json

/test.run.*.d.ts
/test.run.*.js

/test.helpers.d.ts
/test.helpers.js
